<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
    $(document).ready(function()
    {
      $("#button1").click(function(){
      var i = 0;



      setInterval(function(){

        i = parseInt(i)+1;
        url = "/result/"+i;
        $.get(url, function(data, status)
        {
          var rowCount = $('#tab tr').length;
          console.log(data);
          console.log(rowCount);
          if(rowCount>20)
          {
            $("#tab tr:eq(1)").fadeOut(500,function()
            {
              $("#tab tr:eq(1)").remove();
              $("#tab tr:eq(2)").remove();
            });
          }
          var brandname=data["brandname"];
          var chemicalname=data["chemicalname"];
          var companyname=data["companyname"];
          var category=data["category"];
          var productname=data["productname"];
          var id=data["unique"];
          var row = $("<tr>")
          row.append($("<td>" + id + "</td>"));
          row.append($("<td>" + brandname + "</td>"));
          row.append($("<td>" + chemicalname + "</td>"));
          row.append($("<td>" + companyname + "</td>"));
          row.append($("<td>" + category + "</td>"));
          row.append($("<td>" + productname + "</td>"));

          $("#tab").append(row);
          row.fadeIn();
        });


      }, 500);

      //	var cc=setInterval(function(){myTime()},500 );


    });
    });
  </script>
  <style>
    .center {
      margin-left: 25%;
      margin-right: 40%;
      margin-top: 20%;
      width: 50%;
      height: 40%;
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      font-family: Arial;
      font-size:30px;
      color: #ffffff;
      background-color: #b0e0e6;
    }
    table#tab{
      background-color: #B6B6B4;
      color: black;
      border: 1px solid black;
    }
    table#tab tr:nth-child(odd) {
      background-color: #eee;
      border: 1px solid black;

    }
    body
    {
      background-size: 1500px 760px;
      background-repeat: no-repeat;
      background-color:white;
    }
  </style>

</head>
<body>
<div  class="wrapper">
  <center><h1>Types of Chemicals in Cosmetics</h1></center>
  <center><input type="button" id="button1" value="Click Me !!!" style="color:black;background-color:lightgrey" name="button"/></center>
  <br/>
  <table  cellspacing='0' cellpadding='5' id = "tab"  align="center">

    <tr>
      <th>ID</th>
      <th width=200px>BrandName</th>
      <th width=200px >ChemicalName</th>
      <th width=200px >CompanyName</th>
      <th width=200px >Category</th>
      <th width=200px >ProductName</th>


    </tr>
  </table>

</div>

</html>